section#modal.modal.page_hidden
    .modal-container
        .modal__action
            .btn_close.close-modal(data-modal="modal")
        .modal-container__img
            img(src="../assets/img/modal.png")
        .text Alles im Blick: Mit den neuen LED Frontscheinwerfern* und LED Rückleuchten* entgeht Ihnen nichts mehr.
        button.btn.btn_modal Jetzt konfigurieren
    
