extends templates/template

block title
	title Cady
block append style
block content
	include blocks/page
	//- include blocks/start-1
	//- include blocks/feature
	//- include blocks/modal
			
block append script